################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/icris.SolarEdgeDownloader/.vs/icris.SolarEdgeDownloader/v16
/icris.SolarEdgeDownloader/icris.SolarEdgeDownloader/obj
/icris.SolarEdgeDownloader/icris.SolarEdgeDownloader/apikey.txt
